.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: 100%;
}

.dragon {
  padding: 16px;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 2rem;
}
