.mfsWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 48px;
  padding: 24px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.card {
  width: 100%;
  padding: 12px;
  border: 4px solid black;
  border-radius: 20px;
  background-color: rgb(219, 219, 219);
}

html[data-theme='dark'] .card {
  background-color: rgb(27, 30, 55);
  border-color: white;
  color: white;
}
