@use 'src/common/styles/variables.module';

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: variables.$bgColor;
}
