html[data-theme='dark'] {
  --global-primary1: #3e85c9;
  --global-primary2: #56a4ef;
  --global-primary3: #3e85c9;
  --global-secondary1: #002941;
  --global-secondary2: #22303c;
  --global-default: #bdbdbd;
  --global-disabled: #2f2f2f;

  --base-0: #0d0d0d;
  --base-10: #302e30;
  --base-20: #4f4f4f;
  --base-30: #828282;
  --base-40: #bdbdbd;
  --base-50: #e0e0e0;
  --base-60: #f2f2f2;
  --base-100: #ffffff;

  --alert-0: #07a04f;
  --alert-1: #f2c94c;
  --alert-2: #e79c59;
  --alert-3: #ea5d62;
  --alert-4: #3676b4;

  --stress-0: #6c9b78;
  --stress-1: #7aa887;
  --stress-2: #8abd91;
  --stress-3: #e79c59;
  --stress-4: #ea2d37;
  --stress-5: #9b2320;

  --chart-1: #dd95b0;
  --chart-2: #f2a993;
  --chart-3: #efc896;
  --chart-4: #acd096;
  --chart-5: #6fc688;
  --chart-6: #00bacd;
  --chart-7: #56c3f4;
  --chart-8: #1e88cd;
  --chart-9: #b59fe7;
  --chart-10: #9386be;
  --chart-11: #d85c8a;

  --brand-1: #e60060;
  --brand-1a: #e60060;
  --brand-1b: #f81a77;
  --brand-1c: #591c36;
  --brand-1d: #411527;

  --brand-2: #ffb800;
  --brand-3: #ff7b1a;
  --brand-4: #6d22a8;

  --brand-5: #f2f2f2;
  --brand-5b: #e4e4e4;

  --brand-6a: #dee6ff;
  --brand-6b: #0c182e;
  --brand-6c: #0d0d0d;
  --brand-6d: #081e3d;

  --sidebar: #62748e;
  --header: #1e2939;
  --main: #212121;
}
